.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Montserrat, sans-serif;
  color: #000;
  padding: 20px;
  margin-top: 150px;
  border-top: 2px solid black; /* Add a black border at the top */
  width: 100%;
}

/* Top section */
.topSection {
  display: flex;
  width: 90%;
  align-items: center;
  gap: 20px;
  justify-content: space-between;
  padding: 0 20px;
  flex-wrap: wrap;
}

.logo {
  aspect-ratio: 1.42;
  object-fit: contain;
  width: 250px;
  max-width: 100%;
}

/* Contact items */
.contactItem {
  display: flex;
  align-items: flex-start;
  gap: 14px;
  margin: auto 0;
}

.contactIcon {
  aspect-ratio: 1;
  object-fit: contain;
  width: 30px;
}

.contactContent {
  display: flex;
  flex-direction: column;
}

.contactTitle {
  font-size: 20px;
  font-weight: 700;
}

.contactDescription {
  font-size: 12px;
  font-weight: 400;
  margin-top: 5px;
  word-break: break-word; /* Ensures long text breaks on small screens */

}

/* Divider */
.divider {
  width: 1px;
  background: black;
  align-self: stretch;
  margin: auto 0;
}

/* Navigation */
.navigation {
  display: flex;
  gap: 30px;
  font-size: 12px;
  font-weight: 700;
}

.navLink,
.navLink a {
  background: none;
  border: none;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  padding: 0;
  color: rgb(38, 38, 38) !important;
  text-decoration: none;
}

.navLink:hover,
.navLink a:hover {
  text-decoration: underline;
}

/* Footer Image */
.footerImage {
  width: 800px;
  max-width: 100%;
  margin-top: 10px;
}

/* Copyright */
.copyright {
  color: #7e7e7e;
  font-size: 10px;
  font-weight: 700;
  letter-spacing: 1.3px;
  margin-top: 10px;
}

/* Responsive Design */
@media (max-width: 991px) {
  .divider{
    display: none;
  }
  .details{
    display: none;
  }
  .topSection {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-right: 0;
  }
  
  .navigation {
    justify-content: center;
  }

  .logo {
    margin-left: 0;
  }
}

@media (max-width: 640px) {
  .footer {
    padding: 15px;
    margin-top: 50px;
  }

  .topSection {
    flex-direction: column;
    text-align: center;
  }

  .logo {
    width: 150px;
  }

  .contactContent {
    text-align: center;
  }

  .divider {
    display: none;
  }

  .navigation {
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    gap: 15px;
  }

  .copyright {
    text-align: center;
    margin-top: 14px;
  }
}
